body{
    margin: 0;
    padding: 0;
    
}
.a_styling{
    text-transform: capitalize;
    margin-left: 10px;
    margin-right: 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  
.nav_icons{
    width: 18px;
    margin-left: 14px;
    margin-right: 14px;
}












/* SHOP BY ROOM.................... */



/* CAROUSEL SECTION.......... */
.span_icon{
    width: 20px;
    display: block;
    margin: 15px;
}

/* SMALL SLIDER CSS................. */
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}
.slider_caption{
    background-color: white;
    width: 100%;
    margin-left: 0;
    margin-left: -38px;
    padding: 10px;
    margin-bottom: 25px;
}
.caption_span{
    color: black;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
    
}
.carousel-indicators{
    display: block;
    width: 10%;
    position: absolute;
    margin-left: -20%;
    margin-bottom: 200px;
}
/* SMALL SLIDER CSS................. */


/* LARGE SLIDER.................... */
.d-md-block_lg{
background-color: white;
color: black    ;
width: 50%;
position: absolute;
margin-top: -18px;
margin-left: -130px;
padding: 5px;
text-align: left;

}
.caption_span_lg{
    display: block;
    text-transform: uppercase;
    font-size: 16px;
}
.madeforu{
    /* border: 1px solid red; */
    position: absolute;
    z-index: 999;
    width: 400px;
    margin-top: 150px;
    padding-left: 5%;
}
.madeforu_h1{
    font-size: 60px;
    text-transform: uppercase;
    color: black;
}
.madeforu_btn{
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.slider_content{
    width: 50%;
    margin-left: 25%;
    /* border: 2px solid black; */
    position: absolute;
    z-index: 999;
    margin-top: -400px;
    text-align: center;
}
.slider_content_h1{
color: white;
font-size: 70px;
text-transform: uppercase;
}
.slider_content_btn{
    border: none;
    background-color: white;
    color: black;
    text-transform: uppercase;
    width: 30%;
    padding: 10px;
    font-size: 14px;
}
/* CAROUSEL SECTION.......... */






/* SHOP BY ROOM.................... */



.container_styling{
    margin-top: 50px;
}
.div1{
     height: 200px;
     background-image: url(images/banner5.jpg);
     background-size: cover;
     background-position: center;
     

}
.div2{
    margin-top: 20px;
    height: 300px;
    background-image: url(images/banner3.jpg);
    background-size: cover;
    background-position: center;
     
}
.div3
{
    height: 300px;
    background-image: url(images/banner3.jpg);
     background-size: cover;
     background-position: center;
    
}
.div4{
     margin-top: 20px;
     height: 200px;
     background-image: url(images/banner5.jpg);
     background-size: cover;
     background-position: center;
     
}
/* SHOP BY ROOM.................... */










/* FEATURED PRODUCTS.................. */
.fp1_styling{
    margin-top: 60px;
    padding-bottom: 20px;
    padding-top:10px ;
}
.span_styling{
    background-color: rgb(214, 213, 213);
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.pro_img1{
    height: 300px;
    background-image: url(images/products/pro/t15.png);
    background-size: cover;
     background-position: center;
}
.pro_img2{
    height: 300px;
    background-image: url(images/products/pro/t2.png);
    background-size: cover;
     background-position: center;
}
.pro_img3{
    height: 300px;
    background-image: url(images/products/pro/t4.png);
    background-size: cover;
     background-position: center;
}
.pro_img4{
    height: 300px;
    background-image: url(images/products/pro/t7.png);
    background-size: cover;
     background-position: center;
}
.pro_img5{
    height: 300px;
    background-image: url(images/products/pro/t8.png);
    background-size: cover;
     background-position: center;
}
.pro_img6{
    height: 300px;
    background-image: url(images/products/pro/t15.png);
    background-size: cover;
     background-position: center;
}
.pro_img7{
    height: 300px;
    background-image: url(images/products/pro/t3.png);
    background-size: cover;
     background-position: center;
}
.pro_img8{
    height: 300px;
    background-image: url(images/products/pro/t5.png);
    background-size: cover;
     background-position: center;
}
.img_content{
    background-color: white;
    padding: 5px;
     width: 100%;
}
.btn_div{
    margin-top: 50px;
    text-align: center;
    padding:10px ;
}
.FP_btn{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
    border: none;
    border: 1px solid rgb(196, 196, 196);
    padding: 5px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.FP_icon:hover{
    border: 1px solid red;
    background-image: url(images/icons/heart.svg);
    background-repeat: no-repeat;
    width: 10px;
    position:absolute ;
    z-index: 999;
}
 

/* MODAL WINDOW.................. */
/* MODAL WINDOW.................. */
/* MODAL WINDOW.................. */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

/* FEATURED PRODUCTS.................. */












/* DISCOUNT AND DEALS................. */
.dd_main{
    /* border: 1px solid red; */
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dd_div1{
    /* background-image: url(images/TFN3.JPG); */
    /* border: 1px solid olivedrab; */
    margin-bottom: 20px;

}
.dd_h2{
    text-transform: uppercase;
}
.dd_div2{
    background-image: url(images/TFN6.png);
    height: 350px;
    background-size: cover;
    background-position: center;
}
.h3_div2{
    padding-left: 20px;
   text-transform: capitalize;
    /* margin-top: 120px; */
    font-weight: 700; 
    margin-top: 20px;
}
.btn_div2{
    border: none;
    margin-left: 20px;
    background: transparent;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}
.timer_section{
    border: 2px solid blue;
    width: 70%;
    margin-top: 120px;
    padding-left: 5%;
    padding:10px ;
}
.dd_div3{
    background-image: url(images/TFN7.png);
    height: 300px;
    background-size: cover;
    background-position: center;
}
.dd_h5{
    padding-left: 20px;
    padding-top: 20px;
    color:black;
    text-transform: capitalize;
}
.dd_h3{
    padding-left: 20px;text-transform: capitalize; margin-top: 120px; font-weight: 700;
}
.btn_buy{
    border: none;
    margin-left: 20px;
    background: transparent;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    /* margin-top: 50px; */
}
.dd_div4{
    border: 1px solid gray;
    margin-top: 30px;
    padding: 20px;
}
.dd_h2{
    text-transform: uppercase;
}
@media screen and (max-width: 750px){
    .dd_div3{
        margin-top: 20px;
    }

}

@media screen and (max-width: 800px){
    .dd_div3{
        margin-top: 20px;
    }

}



/* DISCOUNT AND DEALS................. */














/* ICON SECTION...................... */
.icon_main{
/* border: 1px solid red; */
margin-top: 60px;
padding-top: 20px;
padding-bottom: 20px;

}
.icon_img{
    width: 90px;
}
.icon_h6{
    text-transform: uppercase;
    margin-top: 20px;
}
.icon_span{
    font-size: 10px;
    color: blue;
}
/* ICON SECTION...................... */















/* HOMESTORE SECTION............... */
.hs_main{
    /* border: 1px solid red; */
    margin-top: 50px;
    width: 84%;
    margin-left: 8%;
}
.hs_h6{
    font-size: 12px;
    padding: 10px;
}
.hs_h2{
    text-transform: uppercase;
}
.hs_btn{
    border: none;
    border: 1px solid grey;
    background: transparent;
    float: right;
    margin-top: -37px;
    margin-right: 5%;
}
.flax_main{
    display: flex;
    flex:1;
    /* border: 2px solid red; */
    /* height:100px; */
    margin-top: 30px;
}
.flax_1{
    width: 60%;
    /* border:2px solid black; */
    height:100px;
    display: flex;
    flex:1;
    flex-wrap: wrap;
}
.flax_div1{
    width:50%;
    height: 230px;
    background-image: url(images/TFN6.jpeg);
    background-size: cover;
    background-position: center;

}
.flax_div2{
    width:50%;
    height: 230px;
    background-image: url(images/TFN.jpg);
    background-size: cover;
    background-position: center;

}
.flax_div3{
    width:50%;
    height:50px;
    height: 230px;
    background-image: url(images/TFN3.JPG);
    background-size: cover;
    background-position: center;

}
.flax_div4{
    width:50%;
    height:50px;
    height: 230px;
    background-image: url(images/TFN7.jpg);
    background-size: cover;
    background-position: center;

}
.portion2{
    width: 40%;
    /* border:2px solid green; */
    /* height:100px; */
    background-image: url(images/TFN6.jpeg);
    height: 460px;
    background-size: cover;
    background-position: center;

}
.hs_btn2{
    border: none;
    /* border: 1px solid blue; */
    padding: 10px;
    width: 90px;
    background-color: white;
    height: 90px;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: -120px;
    margin-left: 200px;
}














/* HOMESTORE SECTION............... */















/* TESTIMONIAL SECTION.............. */

.testimonial{
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-bottom: 30px;


}
.testi_h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.custmr_pic{
    background-image: url(images/products/t17.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 80%;
}
.custmr_review{
    background-color: #f8b93e;
    color: white;
    width: 80%;
    margin-left: 20%;
    padding: 10px;
    margin-top: -50px;
}

.custmr_pic2{
    background-image: url(images/products/t17.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 80%;
}
.custmr_review2{
    background-color: #625791;
    color: white;
    width: 80%;
    margin-left: 20%;
    padding: 10px;
    margin-top: -50px;
}

.custmr_pic3{
    background-image: url(images/products/t17.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 80%;
}
.custmr_review3{
    background-color:#56bddc;
    color: white;
    width: 80%;
    margin-left: 20%;
    padding: 10px;
    margin-top: -50px;
}

/* TESTIMONIAL SECTION.............. */











/* FOOTER SECTION................. */

.footer_styling{
    margin-top: 50px;
}
.ftr_a{
    text-decoration: none;
    color: black;
}
.ftr_a:hover{
text-decoration: none;
color: black;
}
.ftr_h2{
    text-transform: uppercase;
}
.ftr_span{
    margin-right: 15px;
}
.ftr_h6{
    text-transform: capitalize;
    margin-top: 15px;
}
/* FOOTER SECTION................. */


























/* SHOP PAGE................................................................................... */
/* SHOP PAGE................................................................................... */
/* SHOP PAGE................................................................................... */

.style1{
    /* border: 1px solid red; */
    margin-top:30px ;
}
.shp_h2{
    text-transform: uppercase;
    text-align: center;
}
.shp_div1{
    /* border: 1px solid red; */
    width: 20%;
    margin-left: 40%;
    text-align: center;
}
.shp_a{
    color: black;
    text-decoration: none;
    font-size: 10px;
}
.shp_a:hover{
    text-decoration: none;
    color: black;
}
.shp_div2{
    /* border: 1px solid red; */
    margin-top: 20px;
    padding-left: 15px; 
}
.shp_btn{
    font-size: 12px;
    border: none;
    padding: 10px;
    background: transparent;
    border: 1px solid rgb(196, 194, 194);
    width: 12%;
}
.shp_btn2{
    border: none;
    background: transparent;
    font-size: 12px;
}
.shp_div3{
    /* border: 1px solid red; */
    margin-top: 70px;
    width: 20%;
    margin-left: 40%;
    text-align: center;
}
.shp_showmore{
    border: none;
    border: 1px solid rgb(221, 220, 220);
    background: transparent;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 14px;
}

.shp_img1{
    height: 300px;
    background-image: url(images/products/pro/t15.png);
    background-size: cover;
     background-position: center;
}
.shp_img2{
    height: 300px;
    background-image: url(images/products/pro/t8.png);
    background-size: cover;
     background-position: center;
}
.shp_img3{
    height: 300px;
    background-image: url(images/products/pro/t9.png);
    background-size: cover;
     background-position: center;
}
.shp_img4{
    height: 300px;
    background-image: url(images/products/pro/t3.png);
    background-size: cover;
     background-position: center;
}
.shp_img5{
    height: 300px;
    background-image: url(images/products/pro/t4.png);
    background-size: cover;
     background-position: center;
}
.shp_img6{
    height: 300px;
    background-image: url(images/products/pro/t2.png);
    background-size: cover;
     background-position: center;
}
.shp_img7{
    height: 300px;
    background-image: url(images/products/pro/t15.png);
    background-size: cover;
     background-position: center;
}
.shp_img8{
    height: 300px;
    background-image: url(images/products/pro/t5.png);
    background-size: cover;
     background-position: center;
}
.pro_icon_div{
    position: relative;
}
.pro_icon_heart{
    background-color: grey;
    position: absolute;
    right:40px;top:20px;
    padding:1px 5px 5px 5px;
    border-radius: 50%;
    width:30px;height:30px;
    text-align: center;
}
.pro_icon_bag{
    background-color: grey;
    position: absolute;
    right:40px;bottom:20px;
    padding:1px 5px 5px 5px;
    border-radius: 50%;
    width:30px;height:30px;
    text-align: center;
}
.pro_icon_eye{
   
    position: absolute;
    right:80px;bottom:20px;
    padding:1px 5px 5px 5px;
    text-align: center; 
}
.pro_icon_div .pro_icon_heart, .pro_icon_div .pro_icon_bag,.pro_icon_div .pro_icon_eye{
    display: none;
    transition: 0.4s;
}

.pro_icon_div:hover .pro_icon_heart,.pro_icon_div:hover .pro_icon_bag,.pro_icon_div:hover .pro_icon_eye{
    display: block;
}






/* DEAL SECTION.................................................................................... */

.shp_deal{
    margin-top: 70px;
    margin-bottom: 70px;
    /* border: 1px solid red; */
    padding-bottom: 20px;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -70px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #5e5c5c;
    border-radius: 50%;
    width: 8px;
    height: 4px;
}

.blog .carousel-indicators .active {
background: #707070;
}
/* SHOP PAGE.......................... */






















/* FILTER PAGE.................................................................................... */
/* FILTER PAGE.................................................................................... */
/* FILTER PAGE.................................................................................... */

.fltr_style1{
    /* border: 1px solid red; */
    margin-top: 40px;
}
.fltr_h5{
    text-transform: uppercase;
}
.fltr_divs{
    width: 100%;
    /* border: 1px solid blue; */
    display: block;
    margin-top: 20px;
    padding-left: 7%;
    padding-right: 7%;
}
.fltr_div1{
    width: 16%;
    height: 200px;
}

.fltr_div2{
    width: 16%;
    margin-left: 16%;
    margin-top: -200px;
    height: 200px;
    text-align: left;
    padding-left: 2%;
}

.fltr_div3{
    width: 16%;
    margin-left: 32%;
    margin-top: -42px;
    margin-top: -200px;
    height: 200px;
    text-align: left;

}

.fltr_div4{
    width: 26%;
    margin-left: 48%;
    margin-top: -200px;
    height: 200px;
    padding-left: 3%;
}

.fltr_div5{
    width: 26%;
    margin-left: 74%;
    margin-top: -200px;
    height: 200px;
}

.fltr_li{
list-style: none;
margin-left: -40px;

}
.fltr_a{
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}
.fltr_a:hover{
    text-decoration: none;
    color: black;
}
.fltr_clr1{
    padding: 10px;
    border: 1px solid blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
}
.fltr_clr1-1{
    height: 14px;
    width: 14px;
    background-color: blue;
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
}
.fltr_clr2{
    margin-right: 15px;
    padding: 10px;
    border: 1px solid red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.fltr_clr2-1{
    height: 14px;
    width: 14px;
    background-color: red;
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
}
.fltr_clr3{
    margin-right: 15px;
    padding: 10px;
    border: 1px solid yellow;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.fltr_clr3-1{
    height: 14px;
    width: 14px;
    background-color: yellow;
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
}
.fltr_clr4{
    margin-right: 15px;
    padding: 10px;
    border: 1px solid green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.fltr_clr4-1{
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
}
.fltr_clr5{
    margin-right: 15px;
    padding: 10px;
    border: 1px solid orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.fltr_clr5-1{
    height: 14px;
    width: 14px;
    background-color: orange;
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
}
.fltr_clr6{
    margin-right: 15px;
    padding: 10px;
    border: 1px solid rgb(79, 241, 228);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.fltr_clr6-1{
    height: 14px;
    width: 14px;
    background-color:  rgb(79, 241, 228);
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
}
.fltr_clr7{
    margin-right: 15px;
    padding: 10px;
    border: 1px solid rgb(245, 32, 121);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.fltr_clr7-1{
    height: 14px;
    width: 14px;
    background-color: rgb(245, 32, 121);
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
}
.fltr_clr8{
    margin-right: 15px;
    padding: 10px;
    border: 1px solid rgb(233, 29, 240);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.fltr_clr8-1{
    height: 14px;
    width: 14px;
    background-color: rgb(233, 29, 240);
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
}
.fltr_clr9{
    margin-right: 15px;
    padding: 10px;
    border: 1px solid rgb(94, 3, 3);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.fltr_clr9-1{
    height: 14px;
    width: 14px;
    background-color: rgb(94, 3, 3);
    border-radius: 50%;
    margin-top: -7px;
    margin-left: -7px;
}
.slidecontainer {
    width: 100%;
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #1f1f1f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid #1f1f1f;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid #1f1f1f;
    cursor: pointer;
  }
  
  



/* POPULAR TAG SECTION................. */

.pt_div1{
    margin-top: 20px;
    width: 86%;
    margin-left: 7%;
    padding-left: 28px;
}
.pt_div2{
    width: 60%;
}
.pt_div3{
    margin-top: 10px; width: 40%;
}
.pt_h4{
    text-transform: uppercase;
    padding-left: 5px;
}
.pt_btn{
    border: none;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    font-size: 13px;
    background: transparent;
    border: 1px solid rgb(202, 202, 202);
}
.btn_main{
    border: none;
    width: 160px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    background: transparent;
    border: 1px solid rgb(202, 202, 202);
    text-transform: uppercase;
    margin: 5px;
}
.pt_img1{
    height: 300px;
    background-image: url(images/products/t15.jpg);
    background-size: cover;
     background-position: center;
}
.pt_img2{
    height: 300px;
    background-image: url(images/products/t16.jpg);
    background-size: cover;
     background-position: center;
}

.pt_img3{
    height: 300px;
    background-image: url(images/products/t13.jpg);
    background-size: cover;
     background-position: center;
}

.pt_img4{
    height: 300px;
    background-image: url(images/products/t17.jpg);
    background-size: cover;
     background-position: center;
}
.img_contentpt{
    background-color: white;
    padding: 5px;
     width: 100%;
     margin-left:5% ;
}

/* FILTER PAGE...................... */

















/* MEDIA QUERIES..................................................... ................................*/
/* MEDIA QUERIES..................................................... ................................*/
/* MEDIA QUERIES..................................................... ................................*/


@media screen and (max-width: 1400px){
    .hs_main{
        display: block;
    }
    .gallery_sm{
        display: none;
    }
    .span_styling{
        font-size: 18px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }
    .nav_cntc{
        /* margin-left: 20%; */
        /* border: 1px solid blue; */
        width: 200px;
        margin-left: 40%;
    }
    .nav_icons{
        width: 18px;
        /* border: 1px solid red; */
    }
    .nav_portion2{
        /* border: 1px solid black; */
        width: 100%;
    }

       /* SMALL SLIDER.............. */
.slider_caption{
    margin-left: 0;
    margin-left: -15%;
}
.caption_span{
    font-size: 11px;
    width: 100%;
}
/* SMALL SLIDER.............. */





    /* LARGE SLIDER................ */
    .d-md-block_lg{
        margin-top: 0;
        width: 60%;
        margin-top: -10px;
    }
    .caption_span_lg{
        font-size: 14px;

    }
    
    .madeforu{
        /* border: 2px solid black; */
        /* margin-top: -500px; */
        margin-left: 20%;
        font-size: 12px;
        text-align: center;
        /* width: 60%; */
        position: absolute;
        width: 500px;
        text-align: left;
    }
    .madeforu_h1{
        font-size: 70px;
        color: black;
    }
    .madeforu_btn{
        font-size: 16px;
        background-color: black;
        color: white;
    }
/* LARGE SLIDER................ */


}


@media screen and (max-width: 1300px){
    .hs_main{
        display: block;

    }
    .gallery_sm{
        display: none;
    }
    .span_styling{
        /* border: 1px solid green; */
        font-size: 18px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }
     /* SMALL SLIDER.............. */
.slider_caption{
    margin-left: 0;
    margin-left: -15%;
}
.caption_span{
    font-size: 11px;
    width: 100%;
}
/* SMALL SLIDER.............. */





    /* LARGE SLIDER................ */
    .d-md-block_lg{
        margin-top: 0;
        width: 60%;
        margin-top: -10px;
        padding-left: 2%;
    }
    .caption_span_lg{
        font-size: 14px;

    }
    
    .madeforu{
        /* border: 2px solid black; */
        /* margin-top: -500px; */
        margin-left: 20%;
        font-size: 12px;
        text-align: center;
        /* width: 60%; */
        position: absolute;
        width: 500px;
        text-align: left;
    }
    .madeforu_h1{
        font-size: 50px;
        color: black;
    }
    .madeforu_btn{
        font-size: 20px;
        background-color: black;
        color: white;
    }
/* LARGE SLIDER................ */


}

@media screen and (max-width: 1200px){
    .hs_main{
        display: block;
    }
    .gallery_sm{
        display: none;
    }
    .span_styling{
        /* border: 1px solid red; */
        font-size: 18px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }

    /* SMALL SLIDER.............. */
.slider_caption{
    margin-left: 0;
    margin-left: -15%;
}
.caption_span{
    font-size: 11px;
    width: 100%;
}
/* SMALL SLIDER.............. */





    /* LARGE SLIDER................ */
    .d-md-block_lg{
        margin-top: 0;
        width: 60%;
        margin-top: -6px;
        padding-left: 8%;
    }
    .caption_span_lg{
        font-size: 12px;
    }
    
    .madeforu{
        text-align: center;
        position: absolute;
        width: 500px;
        text-align: left;
    }
    .madeforu_h1{
        font-size: 45px;
        color: black;
    }
    .madeforu_btn{
        font-size: 16px;
        background-color: black;
        color: white;
    }
/* LARGE SLIDER................ */


}



@media screen and (max-width: 1100px){
    .hs_main{
        display: none;
    }

    .gallery_sm{
        display: block;
        width: 84%;
        margin-left: 8%;
    }
    .span_styling{
        /* border: 1px solid blue; */
        font-size: 18px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }
    /* SMALL SLIDER.............. */
.slider_caption{
    margin-left: 0;
    margin-left: -15%;
}
.caption_span{
    font-size: 11px;
    width: 100%;
}
/* SMALL SLIDER.............. */





    /* LARGE SLIDER................ */
    .d-md-block_lg{
        margin-top: 0;
        width: 60%;
        margin-top: -6px;
        padding-left: 8%;
    }
    .caption_span_lg{
        font-size: 12px;
    }
    
    .madeforu{
        text-align: center;
        position: absolute;
        width: 500px;
        text-align: left;
    }
    .madeforu_h1{
        font-size: 45px;
        color: black;
    }
    .madeforu_btn{
        font-size: 16px;
        background-color: black;
        color: white;
    }
/* LARGE SLIDER................ */


}



@media screen and (max-width: 1000px){
    .hs_main{
        display: none;
    }
    .gallery_sm{
        display: block;
    }
    .span_styling{
        /* border: 1px solid orange; */
        font-size: 18px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }

       /* SMALL SLIDER.............. */
.slider_caption{
    margin-left: 0;
    margin-left: -24px;
    margin-bottom: -10px;
    
}
.caption_span{
    font-size: 11px;
    width: 100%;
}
/* SMALL SLIDER.............. */





    /* LARGE SLIDER................ */
    .d-md-block_lg{
        margin-left: -83px;
        margin-top: 0;
        width: 80%;
        /* margin-bottom: 80px; */
        /* border: 1px solid red; */
        margin-top: -10px;
    }
    .caption_span_lg{
        font-size: 14px;
        /* margin-bottom: -20px; */

    }
    
    .madeforu{
        /* border: 2px solid rgb(212, 26, 26); */
        margin-top: 80px;
        margin-left: 10%;
        font-size: 12px;
        text-align: left;
        width: 200px;
        position: absolute;
    }
    .madeforu_h1{
        font-size: 40px;
        color: black;
    }
    .madeforu_btn{
        width: 120px;
        font-size: 12px;
        background-color: black;
        color: white;
    }
/* LARGE SLIDER................ */
.slider_content{
    /* border: 1px solid rgb(0, 17, 255); */
    margin-top: 0;
    margin-top: -250px;
}
.slider_content_h1{
    font-size: 38px;

}
.slider_content_btn{
    font-size: 16px;
    width: 40%;

}



}


@media screen and (max-width: 900px){
    .hs_main{
        display: none;
    }
    .gallery_sm{
        display: block;
    }
    .span_styling{
        /* border: 1px solid rgb(243, 26, 152); */
        font-size: 18px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }

    /* SMALL SLIDER.............. */
.slider_caption{
    margin-left: 0;
    margin-left: -24px;
    margin-bottom: -10px;
    
}
.caption_span{
    font-size: 11px;
    width: 100%;
}
/* SMALL SLIDER.............. */





    /* LARGE SLIDER................ */
    .d-md-block_lg{
        margin-left: -83px;
        margin-top: 0;
        width: 80%;
        /* margin-bottom: 80px; */
        /* border: 1px solid red; */
        margin-top: -10px;
    }
    .caption_span_lg{
        font-size: 14px;
        /* margin-bottom: -20px; */

    }
    
    .madeforu{
        /* border: 2px solid white; */
        margin-top: -500px;
        margin-left: 20%;
        font-size: 12px;
        text-align: center;
        width: 60%;
    }
    .madeforu_h1{
        font-size: 40px;
        color: white;
    }
    .madeforu_btn{
        font-size: 26px;
        background-color: white;
        color: black;
    }
/* LARGE SLIDER................ */

.slider_content{
    /* border: 1px solid rgb(0, 17, 255); */
    margin-top: 0;
    margin-top: -250px;
}
.slider_content_h1{
    font-size: 38px;

}
.slider_content_btn{
    font-size: 16px;
    width: 40%;

}

}



@media screen and (max-width: 800px){
    .hs_main{
        display: none;
    }
    .gallery_sm{
        display: block;
    }
    .span_styling{
        /* border: 1px solid rgb(21, 255, 0); */
        font-size: 16px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }
/* SMALL SLIDER.............. */
.slider_caption{
    margin-left: 0;
    margin-left: -21px;
    margin-bottom: -10px;
    
}
.caption_span{
    font-size: 10px;
    width: 100%;
    /* margin-left: 10px; */
}


/* SMALL SLIDER.............. */





    /* LARGE SLIDER................ */
    .d-md-block_lg{
        margin-left: -71px;
        margin-top: 0;
        width: 60%;
    }
    .caption_span_lg{
        font-size: 10px;

    }
    
    .madeforu{
        /* border: 2px solid white; */
        margin-top: -500px;
        margin-left: 20%;
        font-size: 12px;
        text-align: center;
        width: 60%;
    }
    .madeforu_h1{
        font-size: 40px;
        color: white;
    }
    .madeforu_btn{
        font-size: 16px;
        width: 40%;
        background-color: white;
        color: black;
    }
/* LARGE SLIDER................ */
.slider_content{
    /* border: 1px solid rgb(0, 17, 255); */
    margin-top: 0;
    margin-top: -180px;
}
.slider_content_h1{
    font-size: 32px;

}
.slider_content_btn{
    font-size: 14px;
    width: 50%;

}

}



@media screen and (max-width: 700px){
    .hs_main{
        display: none;
    }
    .gallery_sm{
        display: block;
        width: 100%;
        margin-left: 0;
    }
    .span_styling{
        /* border: 1px solid rgb(39, 207, 236); */
        font-size: 16px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }
    .dna{
        display: none;
    }
    
    .madeforu{
        /* border: 2px solid red; */
        margin-top: -400px;
        margin-left: 20%;
        /* font-size: 12px; */
        text-align: center;
        width: 60%;
    }
    .madeforu_h1{
        font-size: 38px;
        color: white;
    }
    .madeforu_btn{
        font-size: 12px;
        width: 40%;
        background-color: white;
        color: black;
    }
    .slider_content{
        /* border: 1px solid red; */
        margin-top: 0;
        margin-top: -170px;
    }
    .slider_content_h1{
        font-size: 30px;

    }
    .slider_content_btn{
        font-size: 14px;
        width: 50%;

    }

}

@media screen and (max-width: 600px){
    
    .span_styling{
        /* border: 1px solid rgb(236, 238, 100); */
        font-size: 13px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }

    .dna{
        display: none;
    }
    
    .madeforu{
        /* border: 2px solid white; */
        margin-top: -300px;
        margin-left: 10%;
        font-size: 12px;
        text-align: center;
        width: 70%;
    }
    .madeforu_h1{
        font-size: 30px;
        color: white;
    }
    .madeforu_btn{
        font-size: 12px;
        background-color: white;
        color: black;
    }
    .slider_content{
        /* border: 1px solid red; */
        margin-top: 0;
        margin-top: -120px;
    }
    .slider_content_h1{
        font-size: 24px;

    }
    .slider_content_btn{
        font-size: 10px;
        width: 50%;

    }


}

#smallScreenCart{
    display: none

}
#navlogo{
    display: none
}

@media screen and (max-width: 500px){
    #smallScreenCart{
display: block;
position: absolute;
right:10px
    }
    #navlogo{
        display:block;
      margin-left: 14%;
      
    }
    
    
    .span_styling{
        /* border: 1px solid rgb(139, 4, 11); */
        font-size: 12px;
    }
    .logo{
        /* margin-left: 40%s; */
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
        z-index: 999;
    }
    .nav_icons{
     
        display: none;
        
    }
    .dna{
        display: none;
    }
    
    .madeforu{
        /* border: 2px solid rgb(224, 12, 12); */
        margin-top: -300px;
        margin-left: 10%;
        font-size: 12px;
        text-align: center;
        width: 70%;
    }
    .madeforu_h1{
        font-size: 30px;
        color: white;
    }
    .madeforu_btn{
        font-size: 12px;
        background-color: white;
        color: black;
    }
    .slider_content{
        margin-top: 0;
        margin-top: -120px;
    }
    .slider_content_h1{
        font-size: 24px;

    }
    .slider_content_btn{
        font-size: 10px;
        width: 50%;

    }




    /* FILTER PAGE RESPONSIVENESS................................................ */
    /* FILTER PAGE RESPONSIVENESS................................................ */
    .shp_btn{
        width: 100%;
    }
    .shp_btn2{
        display: none;
    }
    .fltr_divs{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .fltr_div1{
        /* border: 1px solid red; */
        width: 50%;
        padding-left: 5px;
        text-align: center;
    }
    .fltr_div2{
        /* border: 1px solid rgb(98, 0, 255); */
        width: 50%;
        margin-left: 50%;
        text-align: center;

    }
    .fltr_div3{
        /* border: 1px solid rgb(187, 255, 0); */
        margin-top: 3px;
        width: 50%;
        margin-left: 0;
        padding-left: 5px;
        text-align: center;

    }
    .fltr_div4{
        /* border: 1px solid rgb(255, 0, 119); */
        margin-top: -203px;
        width: 50%;
        margin-left: 50%;
        /* margin-left: 0; */
        padding-left: 5px;
        text-align: center;
        
    }
    .fltr_div5{
        /* border: 1px solid rgb(6, 117, 43); */
        /* display: none; */
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
        /* margin-left: 0; */
        height: 80px;
    }
    .pt_div1{
        /* border: 1px solid green; */
        width: 100%;
        margin-left: 0;
    }
    .pt_div2{
        /* border: 1px solid red; */
        width: 100%;
        margin-left: 0;
    }
    .pt_div3{
        /* border: 1px solid blue; */
        width: 100%;
        margin-left: 0;
        margin-left: -15px;
    }
    .btn_main{
        width: 100%;
        /* margin-left: -15px; */
        
    }
        
    

}

@media screen and (max-width: 450px){
    
    .span_styling{
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 500;
    }
    .copy{
        font-size: 13px;
    }
    .logo{
        display: none;
    }
    .logo2{
        position: absolute;
        top: 0;
        margin-top: 15px;
        left: 25%;
    }
    .nav_icons{
        margin-left: 5px;
        margin-right: 5px;
        display: none;
        
    } 
    


}

#sideBarToggle:hover{
cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999;
  }

  .sidenav-right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
   
    z-index: 9999;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

 

  .sidenav .closebtn {
    position: absolute;
    top: -10px;
    left: 0.8%;
    font-size: 30px;
    
  }
 
  .sidenav .languageSelect{
    position: absolute;
    top: 10px;
    right: 7%;
    width: 60px;
   
  }

  .menuList{
      margin-top: 20px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  #side_nav_footer{
     
      height:230px;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-left:30px
  }
  #s_n_f_heading{
      font-size: large;
      font-weight: 700;
      color:gray;
  }
  #s_n_f_text{
      color: gray;
  }
  .ftr_span1{
   margin-right: 10px;   
  }

  .menuCard{
    box-shadow:none;
    border:0
  }
  .menuCardHeader{
    background-color: white;padding:10px 30px;
    padding:0;
    border: 0;
  }
  .menuLabel:hover{
    cursor: pointer;
      background-color: #f1efef
  }
  .menuLabel{
     
    width:100%;display:flex;flex:1;
    padding:13px 30px
  }
 
  .menuLabelText{
      width:50%
  }
.menuLabelIcon{
    width:50%;text-align:right
}
.menuUl{
    margin-top: -20px;
    list-style: none;
    margin-bottom: -20px;
}
.menuLi{
    padding:5px;
}
.menuLi:hover{
   background-color: #e9e9e9;
   cursor: pointer;
}

.nav-right-wraper{
    width:100%;padding:0px 13px;margin-top:20px
}
.cart-item{
    display:flex;flex:1;width:100%;border:1x solid blue
}
.cart-item-body{
    width:50%;font-size:11px;font-weight:600;color:gray
}
.cart-item-end{
    width:100%;height:50%;position:relative
}
.cart-item-remove-btn{
    position:absolute;top:-10px;right:2px
}
.nav_icons:hover{
    cursor: pointer;
}
#navigation_fix{
    transition: all ease 0.5s
}
.fixed-top{
    transition: all ease 0.3s
}